

@section scripts{
    <script src="~/Scripts/app.js"></script>
}

<div class="well">
    @Html.Partial( "_AddRecordPartial" )
</div>

@Html.Action( "SearchRecord" )

<div class="row">
    <div id="recordDetails" class="col-md-12">
        @Html.Action( "RecordDetails" )
    </div>
</div>